NodeRED_Flows/Ultrasonic_Node-Red.json
[
    {
        "id": "14ed7a95c0b3df4a",
        "type": "tab",
        "label": "IEEE - ESP8266 US",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "40c84a4d04b3ba54",
        "type": "mqtt in",
        "z": "14ed7a95c0b3df4a",
        "name": "Distance MQTT",
        "topic": "sensor/distance",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f0b40f051f30e23d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 160,
        "wires": [
            [
                "7146c6708430f715",
                "10e0d04b7332f8bd",
                "463b3c22373b0b9e",
                "f428b382904f559e"
            ]
        ]
    },
    {
        "id": "7146c6708430f715",
        "type": "debug",
        "z": "14ed7a95c0b3df4a",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 140,
        "wires": []
    },
    {
        "id": "10e0d04b7332f8bd",
        "type": "ui_gauge",
        "z": "14ed7a95c0b3df4a",
        "name": "",
        "group": "607f84b3295ba66d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Distance",
        "label": "cm",
        "format": "{{value}}",
        "min": "0",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "40",
        "diff": false,
        "className": "",
        "x": 520,
        "y": 180,
        "wires": []
    },
    {
        "id": "463b3c22373b0b9e",
        "type": "function",
        "z": "14ed7a95c0b3df4a",
        "name": "Date/Time",
        "func": "var readCurrent = new Date().getTime();\nmsg.payload = readCurrent;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 280,
        "wires": [
            [
                "0fc8dc6ecbd815d1"
            ]
        ]
    },
    {
        "id": "0fc8dc6ecbd815d1",
        "type": "moment",
        "z": "14ed7a95c0b3df4a",
        "name": "distance data",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Asia/Kuala_Lumpur",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD MMM YYYY HH:mm:ss",
        "locale": "\"POSIX\"",
        "output": "",
        "outputType": "msg",
        "outTz": "Asia/Kuala_Lumpur",
        "x": 550,
        "y": 280,
        "wires": [
            [
                "12eeac0207a4cd1a"
            ]
        ]
    },
    {
        "id": "12eeac0207a4cd1a",
        "type": "ui_text",
        "z": "14ed7a95c0b3df4a",
        "group": "607f84b3295ba66d",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Updated : ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "f428b382904f559e",
        "type": "ui_chart",
        "z": "14ed7a95c0b3df4a",
        "name": "",
        "group": "607f84b3295ba66d",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "60",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ee28fd47a03eba9c",
        "type": "inject",
        "z": "14ed7a95c0b3df4a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 170,
        "y": 420,
        "wires": [
            [
                "079d1e1c728f228f"
            ]
        ]
    },
    {
        "id": "079d1e1c728f228f",
        "type": "mqtt out",
        "z": "14ed7a95c0b3df4a",
        "name": "",
        "topic": "switch/led",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "58d76be84b60ccd3",
        "x": 420,
        "y": 420,
        "wires": []
    },
    {
        "id": "f0b40f051f30e23d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "174.138.28.115",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "607f84b3295ba66d",
        "type": "ui_group",
        "name": "Default",
        "tab": "b0fe3fe93796667d",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "58d76be84b60ccd3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "174.138.28.115",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b0fe3fe93796667d",
        "type": "ui_tab",
        "name": "ESP8266 US",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]