NodeRED_Flows/Ultrasonic_Node-Red.json
[
    {
        "id": "34a2edf520d4d6d2",
        "type": "tab",
        "label": "IEEE - ESP8266 US",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4e4748d1c722ddfd",
        "type": "mqtt in",
        "z": "34a2edf520d4d6d2",
        "name": "Distance MQTT",
        "topic": "sensor/distance",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f0b40f051f30e23d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 160,
        "wires": [
            [
                "1452cdf81bfcb181",
                "9ea1971909592fbf",
                "e58cef08ac9422a5",
                "d3ec4a0557ac09ae"
            ]
        ]
    },
    {
        "id": "1452cdf81bfcb181",
        "type": "debug",
        "z": "34a2edf520d4d6d2",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 140,
        "wires": []
    },
    {
        "id": "9ea1971909592fbf",
        "type": "ui_gauge",
        "z": "34a2edf520d4d6d2",
        "name": "",
        "group": "607f84b3295ba66d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Distance",
        "label": "cm",
        "format": "{{value}}",
        "min": "0",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "40",
        "diff": false,
        "className": "",
        "x": 520,
        "y": 180,
        "wires": []
    },
    {
        "id": "e58cef08ac9422a5",
        "type": "function",
        "z": "34a2edf520d4d6d2",
        "name": "Date/Time",
        "func": "var readCurrent = new Date().getTime();\nmsg.payload = readCurrent;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 280,
        "wires": [
            [
                "c1a892ce9cf11dc7"
            ]
        ]
    },
    {
        "id": "c1a892ce9cf11dc7",
        "type": "moment",
        "z": "34a2edf520d4d6d2",
        "name": "distance data",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Asia/Kuala_Lumpur",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD MMM YYYY HH:mm:ss",
        "locale": "\"POSIX\"",
        "output": "",
        "outputType": "msg",
        "outTz": "Asia/Kuala_Lumpur",
        "x": 550,
        "y": 280,
        "wires": [
            [
                "4b70f211c91e9054"
            ]
        ]
    },
    {
        "id": "4b70f211c91e9054",
        "type": "ui_text",
        "z": "34a2edf520d4d6d2",
        "group": "607f84b3295ba66d",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Updated : ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "d3ec4a0557ac09ae",
        "type": "ui_chart",
        "z": "34a2edf520d4d6d2",
        "name": "",
        "group": "607f84b3295ba66d",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "60",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "f0b40f051f30e23d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "174.138.28.115",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "607f84b3295ba66d",
        "type": "ui_group",
        "name": "Default",
        "tab": "b0fe3fe93796667d",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b0fe3fe93796667d",
        "type": "ui_tab",
        "name": "ESP8266 US",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]